[submodule "lib-externes/Delphi-Feather-Icons"]
	path = lib-externes/Delphi-Feather-Icons
	url = https://github.com/shaunroselt/Delphi-Feather-Icons.git
[submodule "lib-externes/Delphi-Font-Awesome-Icons"]
	path = lib-externes/Delphi-Font-Awesome-Icons
	url = https://github.com/shaunroselt/Delphi-Font-Awesome-Icons.git
[submodule "lib-externes/Delphi-Bootstrap-Icons"]
	path = lib-externes/Delphi-Bootstrap-Icons
	url = https://github.com/shaunroselt/Delphi-Bootstrap-Icons.git
[submodule "lib-externes/librairies"]
	path = lib-externes/librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
